.App {
  /* text-align: center; */
}

.cards {
  background-color: #b7e0f2;
  padding: 3rem;
  border-radius: 55;
}

.cardClass {
  max-width: 110%;
  height: 550px;
}

.card-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  text-align: center;
}
